<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Pregled profila</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Fakultet</label>
                                        <input type="text" class="form-control" disabled placeholder="Fakultet" value="Prirodno - matematički fakultet" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Email adresa</label>
                                        <input type="text" class="form-control" placeholder="student.dmi@uns.ac.rs" value="student.dmi@uns.ac.rs" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Broj indeksa</label>
                                        <input type="text" class="form-control" value="{{student.brIndeksa}}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Godina studija</label>
                                        <input type="text" class="form-control" value="{{student.godinaStudija}}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ime</label>
                                        <input type="text" class="form-control" value="{{student.ime}}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prezime</label>
                                        <input type="text" class="form-control" value="{{student.prezime}}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Adresa</label>
                                        <input type="text" class="form-control" value="Dositeja Obradovića 50A, Novi Sad" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>JMBG</label>
                                        <input type="text" class="form-control" value="{{student.jmbg}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/pmf.png" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">{{ student.ime }} {{ student.prezime }}<br />
                                    <small>{{student.brIndeksa}}</small>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="https://www.facebook.com/pmf.ns/" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="https://www.pmf.uns.ac.rs" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
