<div class="main-content" >
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Obaveštenja</h4>
                <p class="category">Za novosti pratite sajt <a target="_blank" href="https://www.pmf.uns.ac.rs">PMF</a>.
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Aktuelnosti</h5>
                        <div class="alert alert-info">
                            <span>Prijava ispita za julski rok počinje 8.7 i traje do 10.7.2020. godine</span>
                        </div>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span>Prijava ispita za junski rok počinje 8.6 i traje do 12.6.2020. godine</span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
